.header{
  background-color: #455A64;
 }

 .body{
   background-color: #455A64;
 }

.hours{
  display: flex;
  margin: 30px;
}

.time{
  margin: 0 30px auto;
}

.time input{
  width: 80px;
}

button{
margin-right: 30px;
}
